<ActionBar title="Tip of the day" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" text="" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout class="page">
    <GridLayout rows="120,*,40">
        <Image row="0" src="~/images/tip_of_the_day.png" stretch="aspectFit" margin=10 horizontalAlignment="center" class="p-y-10"></Image>
        <WebView row="1" #myWebView [src]="url"></WebView>
        <ActivityIndicator rowSpan="2" #activityIndicator [busy]="isLoading" width="100" height="100" opacity="0" class="activity-indicator" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</StackLayout>