<ActionBar [title]="title" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" text="" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout rows="*,50" class="page">
    <Carousel #carousel [selectedPage]="selectedIndex" (pageChanged)="onPageChanged($event)" indicatorColor="#1d6976" indicatorColorUnselected="#ffffff">
        <ng-template ngFor let-subitem [ngForOf]="item.subitems">
            <CarouselItem>
                <GridView rows="auto,*">
                    <Image [src]="subitem.path" stretch="aspectFit" height="100" width="100" margin="10" col="0"
                        row="0"></Image>
                    <WebView height="100%" #webView col="0" row="1" [path]="subitem.description"></WebView>
                </GridView>
            </CarouselItem>
        </ng-template>
    </Carousel>
</GridLayout>