.dateChangeBtn{
    color: #039be5;
    font-size: 20;
}

.place-drop-down {
    padding: 10;
    font-size: 20;
    color: #009688;
    text-align: left;
    width: 100%;
}

.address {
    font-size: 19;
    color: #6495ed;
}

icon-lg {
    font-size: 24;
}

.infolabel-title{
    font-size: 20;
    font-weight: 700;
}

.infolabel-text {
    font-size: 16;
}

Label {
    font-family: "Roboto-Regular", "Roboto Regular";
}

.cardStyle {
    background-color: #3489db;
    color: #fff;
}

.call-btn {
    background-color: #00ff00;
    color: #ffffff;
}

.closed {
    font-weight: 700;
    color: #ff0000;
}

.open{
    color: #00ff00;
}